.header {
    height: 50vh;
}

.sectionHeader {
    background-color: #e05252;
    display: flex;
    gap: 20px;
    width: 100%;
}

.logoImg {
    width: 100px;
}

.ul {
    display: flex;
    gap: 10px;
}

.navItem {
    list-style: none;
}


.searchImg, .notifImg, .messageImg, .languageImg, .avaImg, .homeImg {
    width: 30px;
}

.searchImg {
    /*flex: 1 1 auto;*/
}

.homeImg {


}

.notifImg {

}

.messageImg {

}

.languageImg {

}

.avaImg {

}

.profileSide {
    display: flex;
    gap: 20px;
}

.headerImg {
    height: 90%;
    width: 100%;
    object-fit: cover;
}